<html>
	<head>
		
	</head>

	<body>

		<h1>Teste de impressão</h1>

		<p>Versão: <%= @selected_version.name %> </p>

		<%= @issues.each do |issue| %>
			<p>Id: <%= issue.id%> </p>
			<p>Description: <%= issue.description %> </p>
		<%end%>
	</body>
</html>